﻿@page
@model SistemaPilates.Pages.Turmas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Turma</h1>

<h4>Tem certeza que você deseja excluir essa turma?</h4>
<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.Dias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.Dias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.Horarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.Horarios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.Professor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.Professor)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Turma.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
