﻿@page
@model SistemaPilates.Pages.Turmas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.Dias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.Dias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.Horarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.Horarios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.Professor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.Professor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Turma.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
