﻿@page
@model SistemaPilates.Pages.Turmas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Turma</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Turma.Id" />
            <div class="form-group">
                <label asp-for="Turma.Dias" class="control-label"></label>
                <select asp-for="Turma.Dias" class="form-control">
                    <option value="SEGUNDA">SEGUNDA</option>
                    <option value="TERÇA">TERÇA</option>
                    <option value="QUARTA">QUARTA</option>
                    <option value="QUINTA">QUINTA</option>
                    <option value="SEXTA">SEXTA</option>
                </select>
                <span asp-validation-for="Turma.Dias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turma.Horarios" class="control-label"></label>
                <input asp-for="Turma.Horarios" class="form-control" />
                <span asp-validation-for="Turma.Horarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turma.Professor" class="control-label"></label>
                <span asp-validation-for="Turma.Professor" class="text-danger"></span>
                <select name="Turma_Professor" class="form-control" asp-items="ViewBag.Turma">
                    <option value="">Selecione um professor:</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
