﻿@page
@model SistemaPilates.Pages.Turmas.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <h1>Lista de Turmas</h1>

<p>
    <a asp-page="Create">Cadastrar nova turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turma[0].Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma[0].Horarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma[0].Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Turma) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
