﻿@page
@model SistemaPilates.Pages.Professores.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Professor</h1>

<h4>Tem certeza que você deseja excluir esse professor?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Turma.Dias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Turma.Dias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Turma.Horarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Turma.Horarios    )
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Professor.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
