﻿@page
@model SistemaPilates.Pages.Professores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Turma.Dias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Turma.Dias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Turma.Horarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Turma.Horarios)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Professor.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
