﻿@page
@model SistemaPilates.Pages.Professores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Professor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Professor.Id" />
            <div class="form-group">
                <label asp-for="Professor.Cpf" class="control-label"></label>
                <input asp-for="Professor.Cpf" class="form-control" />
                <span asp-validation-for="Professor.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor.Nome" class="control-label"></label>
                <input asp-for="Professor.Nome" class="form-control" />
                <span asp-validation-for="Professor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor.DataNascimento" class="control-label"></label>
                <input asp-for="Professor.DataNascimento" class="form-control" />
                <span asp-validation-for="Professor.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor.Cidade" class="control-label"></label>
                <input asp-for="Professor.Cidade" class="form-control" />
                <span asp-validation-for="Professor.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor.Estado" class="control-label"></label>
                <input asp-for="Professor.Estado" class="form-control" />
                <span asp-validation-for="Professor.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor.Telefone" class="control-label"></label>
                <input asp-for="Professor.Telefone" class="form-control" />
                <span asp-validation-for="Professor.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor.Email" class="control-label"></label>
                <input asp-for="Professor.Email" class="form-control" />
                <span asp-validation-for="Professor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor.Turma" class="control-label"></label>
                <span asp-validation-for="Professor.Turma" class="text-danger"></span>
                <select name="Professor_Turma" class="form-control" asp-items="ViewBag.Turma">
                    <option value="">Selecione um dia:</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Professor.Turma.Horarios" class="control-label"></label>
                <input asp-for="Professor.Turma.Horarios" class="form-control" />
                <span asp-validation-for="Professor.Turma.Horarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
