﻿@page
@model SistemaPilates.Pages.Professores.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <h1>Lista dos Professores</h1>

<p>
    <a asp-page="Create">Cadastrar novo professor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Turma.Dias)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Professor[0].Turma.Horarios)
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Professor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Horarios)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
