﻿ @page
@model SistemaPilates.Pages.Professores.ViewProfessorModel

@{
    ViewData["Title"] = "Listar Professor";
}

<h1>Lista de Professores</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Turma.Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].Turma.Horarios)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Professor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Horarios)
            </td>

        </tr>
}
    </tbody>
</table>
