﻿@page
@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>

<p>Dúvidas mais frequentes sobre a prática do Pilates:</p>

<body>
<div class="text-center">
    <img src="http://www.imperiopilates.com.br/wp-content/uploads/2018/02/pilates_fisio_duvida.jpg" style="width:1100px; height:390px;" align="middle" />
</div>

<div class="text-left" style="padding-top: 10px; margin-left: 10px; max-width:1090px">
    <h5><b>1. Pilates é só alongamento?</b></h5>
    <h6>
        Não! Pilates trabalha, além de alongamento, exercícios naturais que exigem muito controle de movimento e força.
    </h6>

    <h5><b>2. Pilates emagrece?</b></h5>
    <h6>
        Apesar do foco principal do Pilates não ser o emagrecimento, com certeza é uma ferramenta a ser utilizada para tal finalidade. Sem sombra de dúvidas, é necessário conciliar uma atividade aeróbia e um bom acompanhamento nutricional.]
    </h6>

    <h5><b>3. Crianças podem fazer Pilates?</b></h5>
    <h6>
        Sim. O ideal é oferecer um horário específico para eles, com um trabalho lúdico o qual é necessário estimular a cooperação através de atividades recreativas e principalmente amenizar os fatores de risco que a postura reflete para essa fase.
    </h6>

    <h5><b>4. Pessoas com restrições podem fazer Pilates?</b></h5>
    <h6>
        Com certeza! Pilates é uma atividade de condicionamento físico, que tem como objetivo prevenir e reabilitar.
        Mas para que os alunos possam ter melhor acompanhamento é necessário que seja feita uma avaliação bem detalhada, acompanhada de exames e encaminhamento médico.
    </h6>

    <h5><b>5. Pilates também é para homens?</b></h5>
    <h6>
        Claro! Como muitos exercícios trabalham simultaneamente força e alongamento os homens ganham muito por geneticamente possuírem menor flexibilidade que as mulheres.
        Prevenção do câncer de próstata, melhora na atividade sexual, alinhamento postural e definição abdominal são fatores que fazem os homens se beneficiarem com o Pilates.
    </h6>

    <h5><b>6. Pilates me deixa mais alto?</b></h5>
    <h6>
        Na verdade o Pilates te deixa mais alto não porque te faz crescer, ele realinha sua postura dando principalmente boa sustentação para a coluna, com a descompressão das vértebras, fortalecimento da coluna e a musculatura que a envolve, o corpo fica mais esguio e alinhado, dando ao corpo a aparência de mais alto.
    </h6>
</div>

</body>
