﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Sistema Pilates";
}
    <html>

    <body>
        <div class="text-center">
            <h1 class="display-4">Estúdio Pilates</h1>
            <h3>@Model.Message</h3>
            <p>Se junte a nós e <a href="~/Alunos/Create">faça a sua matrícula</a>!</p>

            <img src="http://www.espacozenrj.com.br/images/pilates-reformer-banner-crop-u353.jpg?crc=3764753201" style="width:1128px; height:383px;" align="middle" />

        </div>
    </body>

    </html>
    