﻿@page
@{
    ViewData["Title"] = "Sobre Estúdio Pilates";
}
<h1>@ViewData["Title"]</h1>

<html>
<body>

    <style>
        .bar {
            padding-top: 10px;
             }
    </style>

    <div class="text-left">
        <h5 class="text-black-50">Pilates desenvolve um corpo uniforme, corrige posturas erradas, restaura a vitalidade física, vigora a mente e eleva o espírito.</h5>
        <img src="https://www.purepilates.com.br/assets/images/bg-banner-call.jpg" style="width:1100px; height:383px;" align="middle" />
    </div>

    <div class="text-left, bar">
        <h4>Informações de contato:</h4>
        <h6 class="text-black-50">Telefone: (71) 3000-0000</h6>
        <h6 class="text-black-50">Email: <a href="mailto:estudiopilates@gmail.com"> estudiopilates@gmail.com</a></h6>
    </div>
    <div class="text-left, bar">
        <h4>Como nos localizar:</h4>
        <h6 class="text-black-50" >Endereço: Rua Arthur de Azevedo Machado, 317 - STIEP, Salvador/BA.</h6>
    </div>

    <style>
        #map {
            height: 400px;
            width: 850px;
            margin-left:150px;
        }
    </style>

    <div class="row">
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -12.997142, lng: -38.446825 },
                    zoom: 18
                });

                var marker = new google.maps.Marker({
                    position: { lat: -12.997142, lng: -38.446825 },
                    map : map
                });
            marker.setMap(map); 
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7s-Mxm-6CsyHVxM7NRi1_2UNoaHkTz9Q&callback=initMap"
                async defer></script>
    </div>
</body>
</html>