﻿@page
@model SistemaPilates.Pages.Alunos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir aluno</h1>

<h4>Tem certeza que você deseja excluir esse aluno?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.dataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.dataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.altura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.observacoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.observacoes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Turma.Dias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Turma.Dias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Turma.Horarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Turma.Horarios)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Aluno.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
