﻿@page
@model SistemaPilates.Pages.Alunos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar aluno</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Aluno.Id" />
            <div class="form-group">
                <label asp-for="Aluno.cpf" class="control-label"></label>
                <input asp-for="Aluno.cpf" class="form-control" />
                <span asp-validation-for="Aluno.cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.nome" class="control-label"></label>
                <input asp-for="Aluno.nome" class="form-control" />
                <span asp-validation-for="Aluno.nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.dataNascimento" class="control-label"></label>
                <input asp-for="Aluno.dataNascimento" class="form-control" />
                <span asp-validation-for="Aluno.dataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.cidade" class="control-label"></label>
                <input asp-for="Aluno.cidade" class="form-control" />
                <span asp-validation-for="Aluno.cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.estado" class="control-label"></label>
                <input asp-for="Aluno.estado" class="form-control" />
                <span asp-validation-for="Aluno.estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.telefone" class="control-label"></label>
                <input asp-for="Aluno.telefone" class="form-control" />
                <span asp-validation-for="Aluno.telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.email" class="control-label"></label>
                <input asp-for="Aluno.email" class="form-control" />
                <span asp-validation-for="Aluno.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.altura" class="control-label"></label>
                <input asp-for="Aluno.altura" class="form-control" />
                <span asp-validation-for="Aluno.altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.peso" class="control-label"></label>
                <input asp-for="Aluno.peso" class="form-control" />
                <span asp-validation-for="Aluno.peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.observacoes" class="control-label"></label>
                <input asp-for="Aluno.observacoes" class="form-control" />
                <span asp-validation-for="Aluno.observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Turma" class="control-label"></label>
                <span asp-validation-for="Aluno.Turma" class="text-danger"></span>
                <select asp-for="Aluno.Turma" class="form-control" asp-items="ViewBag.Turma">
                    <option value="SEGUNDA">SEGUNDA</option>
                    <option value="TERÇA">TERÇA</option>
                    <option value="QUARTA">QUARTA</option>
                    <option value="QUINTA">QUINTA</option>
                    <option value="SEXTA">SEXTA</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Turma.Horarios" class="control-label"></label>
                <input asp-for="Aluno.Turma.Horarios" class="form-control" />
                <span asp-validation-for="Aluno.Turma.Horarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
