﻿@page
@model SistemaPilates.Pages.Alunos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista dos Alunos</h1>

<p>
    <a asp-page="Create">Cadastrar novo aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].dataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].Turma.Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].Turma.Horarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aluno) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Horarios)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
